@{classPrefix}search-box
{
	@b : %(~"%ssearch-box", @classPrefix);

	font-size      : 14px;
	line-height    : 23px;
	font-weight    : 600;
	font-family    : @fontFamilyBase;
	padding-top    : 26px;
	padding-right  : 17px;
	padding-bottom : 26px;
	position       : relative;

	@{b}__inner
	{
		background-color   : @color-whitelight;
		max-width          : 0;
		visibility         : hidden;
		overflow           : hidden;
		position           : absolute;
		top                : 0;
		bottom             : 0;
		right              : 100%;
		border-left        : 1px solid @color-graylight;
		-webkit-transition : all 350ms;
		-moz-transition    : all 350ms;
		-ms-transition     : all 350ms;
		-o-transition      : all 350ms;
		transition         : all 350ms;
		padding-left       : 40px;
		padding-top        : 26px;
		padding-bottom     : 26px;
		z-index            : 10;
		box-shadow         : rgba(207, 222, 234, 0.45) -8px 0 8px -8px;
	}
	@{b}__input
	{
		font-size          : 14px;
		line-height        : 23px;
		font-weight        : 600;
		font-family        : @fontFamilyBase;
		border             : 0;
		border-bottom      : 1px solid @color-graylight;
		-webkit-appearance : none;
		-moz-appearance    : none;
		appearance         : none;
		background         : none;
		outline            : none;

		.placeholder(rgb(139, 152, 172));
		&::-ms-clear
		{
			display : none;
		}
		&::-webkit-search-cancel-button
		{
			display : none;
		}
		&::-webkit-search-decoration
		{
			display : none;
		}
		&::-webkit-search-results-button
		{
			display : none;
		}
		&::-webkit-search-results-decoration
		{
			display : none;
		}
	}

	@{b}__button
	{
		background     : none;
		border         : 0;
		padding        : 0;
		display        : inline-block;
		vertical-align : middle;
		outline        : none;
		cursor         : pointer;
		color          : @color-blue;

		&_reset
		{
			display     : none;
			margin-left : 55px;
		}

		&_submit
		{
			margin-left : 15px;
			display     : none;
			font-size   : 14px;
			line-height : 23px;
			font-weight : 600;
			font-family : @fontFamilyBase;
		}
	}

	&@{b}_expanded
	{
		@{b}__inner
		{
			max-width  : 320px;
			visibility : visible;
		}
		@{b}__button
		{
			&_reset,
			&_submit
			{
				display : inline-block;
			}
			&_find
			{
				display : none;
			}
		}
	}

	&@{b}_header
	{
		display        : inline-block;
		vertical-align : middle;
	}
}
