@classPrefix : ~'.';
@gutterWidth : 20px;
@containerWidth : 1280px;
@imagesPath : ~'/assets/images';
@fontFamilyBase : 'Open Sans', Verdana, sans-serif;

// colors
@color-graylight : #F1F6F9;
@color-whitelight : #FCFEFD;
@color-blue : #009BD4;
