@{classPrefix}nav-menu
{
	@b : %(~"%snav-menu", @classPrefix);

	list-style : none;
	padding    : 0;
	margin     : 0;

	&@{b}_submenu
	{
		opacity               : 0;
		visibility            : hidden;
		position              : absolute;
		top                   : 100%;
		left                  : 0;
		margin-top            : 20px;
		min-width             : 100%;
		-webkit-transition    : all 350ms;
		-moz-transition       : all 350ms;
		-ms-transition        : all 350ms;
		-o-transition         : all 350ms;
		transition            : all 350ms;

		background-color      : @color-whitelight;
		box-shadow            : rgba(207, 222, 234, 0.45) 0 4px 9px 0,
		rgba(207, 222, 234, 0.45) 0 8px 8px -8px inset;
		-webkit-border-radius : 0 0 3px 3px;
		-moz-border-radius    : 0 0 3px 3px;
		border-radius         : 0 0 3px 3px;
		z-index               : 10;
		padding               : 25px 30px;
	}

	> @{b}__item
	{
		&_root
		{
			position : relative;

			&:hover
			{
				> @{b}_submenu
				{
					opacity    : 1;
					visibility : visible;
					margin-top : 0;
				}
			}
		}

	}
	@{b}__item
	{
		> @{b}__item-value
		{
			font-size          : 14px;
			font-weight        : 600;
			display            : block;
			line-height        : 22px;
			color              : rgb(139, 152, 172);
			text-decoration    : none;
			white-space        : nowrap;
			-webkit-transition : all 350ms;
			-moz-transition    : all 350ms;
			-ms-transition     : all 350ms;
			-o-transition      : all 350ms;
			transition         : all 350ms;
			cursor             : pointer;
		}

		&:hover
		{
			> @{b}__item-value
			{
				color : rgb(58, 63, 73);
			}
		}
	}

	&_header
	{
		display        : inline-block;
		padding-left   : 54px;
		vertical-align : middle;

		> @{b}__item
		{
			float : left;

			&_location > @{b}__item-value
			{
				color : rgb(58, 63, 73);
				&::after
				{
					content        : '';
					display        : inline-block;
					vertical-align : middle;
					margin-left    : 8px;
					.icon('arrow-down-blue.png', 9px, 5px);
				}
			}

			> @{b}__item-value
			{
				padding-right  : 44px;
				padding-top    : 29px;
				padding-bottom : 27px;

				> @{classPrefix}icon
				{
					margin-right  : 14px;
					margin-bottom : 1px;
				}
			}
		}
	}
}
