@{classPrefix}event-label
{
	@b : %(~"%sevent-label", @classPrefix);
	position       : relative;
	display        : inline-block;
	vertical-align : middle;

	& + @{b}
	{
		margin-left : 15px;
	}

	@{b}__tooltip
	{
		position              : absolute;
		margin-top            : 10px;
		top                   : 100%;
		min-width             : 160px;
		color                 : #929FAF;
		font-size             : 12px;
		font-weight           : 300;
		padding               : 13px;
		box-shadow            : 0 0 10px rgba(0, 0, 0, .25);
		left                  : -23px;
		-webkit-border-radius : 6px;
		-moz-border-radius    : 6px;
		border-radius         : 6px;
		background            : #FFF;
		z-index               : 30;
		visibility            : hidden;
		opacity               : 0;
		-webkit-transition    : all .25s;
		-moz-transition       : all .25s;
		-ms-transition        : all .25s;
		-o-transition         : all .25s;
		transition            : all .25s;

		&::before
		{
			content       : '';
			position      : absolute;
			left          : 23px;
			top           : -20px;
			display       : block;
			border        : 10px solid transparent;
			border-bottom : 10px solid #FFF;
			width         : 0;
			height        : 0;
		}
	}

	&:hover
	{
		@{b}__tooltip
		{
			opacity    : 1;
			visibility : visible;
			margin-top : 15px;
		}
	}

	&@{b}_free
	{
		font-size     : 12px;
		font-weight   : 400;
		border-radius : 10px;
		background    : #43E791;
		padding       : 2px 12px;
	}
}
