@{classPrefix}trending-events
{
	@b : %(~"%strending-events", @classPrefix);

	border-top  : 1px solid rgba(216, 230, 241, 0.7);
	padding-top : 75px;

	@{b}__title
	{
		color       : rgb(58, 63, 73);
		font-size   : 24px;
		font-weight : 700;
		line-height : 26px;
		margin      : 0;
		padding     : 0;

		.icon
		{
			margin-left    : 10px;
			vertical-align : bottom;
			line-height    : 0;
		}
	}
	@{b}__more
	{
		float           : right;
		color           : rgb(139, 152, 172);
		font-size       : 14px;
		line-height     : 26px;
		font-weight     : 400;
		text-decoration : none;

		span
		{
			margin-left : 15px;
			font-size   : 20px;
		}

		&:hover
		{
			color : #51555E;
		}
	}

	@{b}__items
	{
		margin         : 0 -8px;
		margin-top     : 45px;
		padding-bottom : 40px;
	}
}
