/* ----- STYLES ----- */
body
{
	margin      : 0;
	padding     : 0;
	font-family : @fontFamilyBase;
	font-size   : 16px;
	line-height : 1.2;
	background  : linear-gradient(180deg, #F3F7FA, #F1F6F9);
}

.container
{
	max-width     : @containerWidth;
	margin        : 0 auto;
	padding-left  : @gutterWidth/2;
	padding-right : @gutterWidth/2;

	.clearfix();
}

*, *::after, *::before
{
	-webkit-box-sizing : border-box;
	-moz-box-sizing    : border-box;
	box-sizing         : border-box;
}
