@{classPrefix}header-banner
{
	@b : %(~"%sheader-banner", @classPrefix);

	padding                 : 40% 0 0;
	background              : url(~'@{imagesPath}/illustration.png') right -59px no-repeat;
	-webkit-background-size : contain;
	background-size         : contain;
	position                : relative;

	@{b}__content
	{
		position          : absolute;
		top               : 50%;
		-webkit-transform : translateY(-50%);
		-moz-transform    : translateY(-50%);
		-ms-transform     : translateY(-50%);
		-o-transform      : translateY(-50%);
		transform         : translateY(-50%);
	}
	@{b}__title
	{
		color         : rgb(58, 63, 73);
		font-size     : 36px;
		font-weight   : 700;
		line-height   : 43px;
		margin-bottom : 15px;
	}
	@{b}__text
	{
		color         : rgb(139, 152, 172);
		font-size     : 14px;
		font-weight   : 400;
		line-height   : 21px;
		margin-bottom : 40px;
	}
	@{b}__button
	{
		background-color      : @color-blue;
		display               : inline-block;
		-webkit-border-radius : 50px;
		-moz-border-radius    : 50px;
		border-radius         : 50px;
		color                 : #FFF;
		font-size             : 14px;
		font-weight           : 400;
		line-height           : 20px;
		padding               : 15px 30px;
		text-decoration       : none;

		&:hover
		{
			background : #0086BB;
		}

		&:active
		{
			background : darken(#0086BB, 6%);
		}
	}
}
