@{classPrefix}icon
{
	@b : %(~"%sicon", @classPrefix);
	display : inline-block;

	#icon(@path;@width;@height)
	{
		&::before
		{
			content        : '';
			display        : inline-block;
			vertical-align : middle;
			.icon(@path, @width, @height);
		}
	}

	@import "_location";
	@import "_magnifier";
	@import "_alarm-bell";
	@import "_arrow-down-blue";
	@import "_arrow-right-line-gray";
	@import "_close-blue";
	@import "_heart-pink";
	@import "_hot-fire";
	@import "_label-coin";
	//@import "_";
}
