@{classPrefix}event-item
{
	@b : %(~"%sevent-item", @classPrefix);

	@width : 25%;
	@height : 270px;
	@transitionProps : all .3s;

	display        : inline-block;
	margin-right   : -4px;
	vertical-align : bottom;
	margin-bottom  : 16px;
	padding        : 0 8px;
	width          : 25%;

	@{b}__inner
	{
		height        : @height;
		position      : relative;
		transition    : @transitionProps;
		border-radius : 10px;

		&::after
		{
			content          : '';
			display          : block;
			position         : absolute;
			left             : 0;
			right            : 0;
			top              : 0;
			bottom           : 0;
			z-index          : 2;
			background-color : #000;
			opacity          : .3;
			transition       : @transitionProps;
			overflow         : hidden;
			border-radius    : 10px;
		}
	}

	@{b}__cover
	{
		position      : absolute;
		top           : 0;
		left          : 0;
		height        : 100%;
		width         : 100%;
		z-index       : 1;
		overflow      : hidden;
		border-radius : 10px;

		&-image
		{
			display   : block;
			position  : absolute;
			min-width : 100%;
			height    : 100%;
			width     : auto;
		}
	}

	@{b}__anchor
	{
		position : absolute;
		left     : 0;
		top      : 0;
		height   : 100%;
		width    : 100%;
		display  : block;
		z-index  : 3;
	}

	@{b}__header,
	@{b}__footer
	{
		position    : absolute;
		left        : 0;
		right       : 0;
		z-index     : 4;
		display     : block;
		padding     : 26px 20px;

		color       : #FFF;
		font-weight : 600;
	}

	@{b}__header
	{
		top : 0;
	}

	@{b}__footer
	{
		bottom             : 0;
		transform          : translateY(30px);
		-webkit-transition : @transitionProps;
		-moz-transition    : @transitionProps;
		-ms-transition     : @transitionProps;
		-o-transition      : @transitionProps;
		transition         : @transitionProps;
	}

	@{b}__labels,
	@{b}__actions
	{
		float : right;
	}

	@{b}__date
	{
		font-size : 14px;
	}

	@{b}__title
	{
		color       : #FFF;
		font-size   : 18px;
		font-weight : 700;
	}

	@{b}__favorite
	{
		display : inline-block;

		.icon('heart-white.png', 14px, 12px);

		&@{b}_active,
		&:hover
		{
			background-image : url(~'@{imagesPath}/heart-pink.png');
		}
	}

	@{b}__meta
	{
		visibility         : hidden;
		opacity            : 0;
		position           : relative;
		clear              : both;
		width              : 100%;
		list-style         : none;
		padding            : 0;
		margin             : 10px 0 0;

		transform          : translateY(10px);
		-webkit-transition : @transitionProps;
		-moz-transition    : @transitionProps;
		-ms-transition     : @transitionProps;
		-o-transition      : @transitionProps;
		transition         : @transitionProps;

		&-item
		{
			display         : inline-block;
			margin-right    : 10px;

			color           : #FFF;
			opacity         : .8;
			font-size       : 12px;
			font-weight     : 400;
			line-height     : 20px;
			text-decoration : none;
			cursor          : pointer;

			&:hover
			{
				opacity : 1;
			}
		}
	}

	/* behaviors */

	&:hover @{b}__inner
	{
		box-shadow : 0 0 15px rgba(0, 0, 0, .25);
		&::after
		{
			opacity : 0.6;
		}

		@{b}__footer,
		@{b}__meta
		{
			transform : translateY(0px);
		}

		@{b}__meta
		{
			visibility : visible;
			opacity    : 1;
		}
	}

	/* extended style */

	&:nth-child(3),
	&:nth-child(5)
	{
		width : @width*2;

		@{b}__header,
		@{b}__footer
		{
			padding : 26px;
		}
	}
}
