@{classPrefix}header-nav
{
	@b : %(~"%sheader-nav", @classPrefix);
	@height : 78px;
	position         : fixed;
	top              : 0;
	left             : 0;
	right            : 0;
	height           : @height;
	background-color : @color-whitelight;
	box-shadow       : 0 0 9px rgba(207, 222, 234, 0.45);
	z-index          : 100;

	&__left
	{
		float : left;
	}

	&__right
	{
		float : right;
	}

	@{b}__link
	{
		color              : rgb(139, 152, 172);
		font-size          : 14px;
		font-weight        : 600;
		line-height        : 22px;
		text-decoration    : none;

		-webkit-transition : all 350ms;
		-moz-transition    : all 350ms;
		-ms-transition     : all 350ms;
		-o-transition      : all 350ms;
		transition         : all 350ms;
		cursor             : pointer;

		&:hover
		{
			color : rgb(58, 63, 73);
		}
	}

	@{b}__item
	{
		display        : inline-block;
		vertical-align : middle;
		min-height     : 100%;

		&_bd // border
		{
			&-l // left
			{
				border-left : 1px solid @color-graylight;;
			}
			&-r // right
			{
				border-right : 1px solid @color-graylight;;
			}
		}

		&_create-event @{b}__link
		{
			display : inline-block;
			padding : 28px 33px;

			&:hover
			{
				background : #009AD6;
				color      : #FFF;
			}
		}
	}
}
