@{classPrefix}header-notify
{
	@b : %(~"%sheader-notify", @classPrefix);

	display        : inline-block;
	padding        : 27px 17px;
	vertical-align : middle;

	@{b}__toggle
	{
		position    : relative;
		display     : inline-block;
		width       : 30px;
		height      : 24px;
		line-height : 24px;
		text-align  : center;

		&_unread
		{
			&::after
			{
				content            : '';
				display            : block;
				position           : absolute;
				right              : 0;
				top                : 0;
				width              : 6px;
				height             : 6px;
				border-radius      : 3px;
				background         : #009AD6;
				-webkit-transition : all 350ms;
				-moz-transition    : all 350ms;
				-ms-transition     : all 350ms;
				-o-transition      : all 350ms;
				transition         : all 350ms;
			}

			&:hover::after
			{
				-webkit-transform : scale(1.3);
				-moz-transform    : scale(1.3);
				-ms-transform     : scale(1.3);
				-o-transform      : scale(1.3);
				transform         : scale(1.3);
			}
		}
	}
}
