@{classPrefix}user
{
	@b : %(~"%suser", @classPrefix);
	padding : 18px 0 18px 22px;

	@{b}__balance
	{
		display        : inline-block;
		vertical-align : middle;
		font-size      : 14px;

		color          : rgb(139, 152, 172);
		font-weight    : 400;

		&-amount
		{
			color        : rgb(0, 154, 214);
			font-weight  : 600;
			margin-right : 5px;
		}
	}

	@{b}__avatar
	{
		display        : inline-block;
		vertical-align : middle;
		height         : 42px;
		width          : 42px;
		line-height    : 42px;
		overflow       : hidden;
		border-radius  : 50%;
		text-align     : center;
		margin-left    : 18px;
		img
		{
			max-width  : 100%;
			display    : inline-block;
			max-height : 100%;
		}
	}
}
