@{classPrefix}logotype
{
	@b : %(~"%slogotype", @classPrefix);

	margin  : 0;
	padding : 0;
	display : block;

	@{b}__link
	{
		text-decoration         : none;
		text-indent             : -999px;
		overflow                : hidden;
		display                 : block;
		width                   : 121px;
		height                  : 31px;
		background              : url(/assets/images/logotype.png) 0 0 no-repeat;
		-webkit-background-size : 121px 31px;
		background-size         : 121px 31px;
	}

	&_header
	{
		padding-top    : 23px;
		padding-right  : 40px;
		padding-bottom : 24px;
		border-right   : 1px solid @color-graylight;
		display        : inline-block;
		vertical-align : middle;
	}
}
