.icon(@path,@width,@height)
{
	height                  : @height;
	width                   : @width;
	background              : transparent url(~'@{imagesPath}/@{path}') 0 0 no-repeat;
	-webkit-background-size : @width @height;
	background-size         : @width @height;
}
